<body>
<div class="row">
    {{#each tournaments}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <p>Fecha de inicio del torneo: {{begin_date}}</p>
                <p>Duracion del torneo: {{duration}}</p>
                <p>Categoria inicio del torneo: {{categoria}}</p>
            </div>
        </div>        
    </div>
    {{/each}}
</div>
</body>