<body>
    <div class="jumbotron mt-4">
      <h1 class="display-4">Table Tennis App Node JS</h1>
      <p class="lead">
        Esta es una aplicación desarrollada con Node JS y MongoDB, y tiene funcionalidades básicas que podría requerir una federación de tenis de mesa
      </p>
      <hr class="my-4">
      <p>
        En este ejemplo, incorporé las funcionalidades de inicio de sesión y registro de jugadores y clubes, creación de torneos por parte de los clubes, con la edición y eliminación
        de los mismos, y el hecho de que los jugadores pueden consultar por los torneos y acudir a ellos. 
      </p>
    </div>
</body>