<body>
  {{#each clubs}}
    <div class="row">
      <div class="card">
        <div class="card-body">
          {{name}}
          {{phone}}
        </div>
      </div>
    </div>
  {{/each}}
</body>