

  <footer class="text-center text-lg-start" style="background-color: #db6930;">
    <div class="container d-flex justify-content-center py-5">
      <a type="button" href="https://www.facebook.com/nicocapo7" class="btn btn-primary btn-lg btn-floating mx-2" target="_blank" style="background-color: #54456b;">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a type="button" href="https://github.com/Saura77" class="btn btn-primary btn-lg btn-floating mx-2" target="_blank" style="background-color: #54456b;">
        <i class="fa-brands fa-github"></i>
      </a>
      <a type="button" href="https://www.linkedin.com/in/nicol%C3%A1s-saurina-b91910228/" class="btn btn-primary btn-lg btn-floating mx-2" target="_blank" style="background-color: #54456b;">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>

    <!-- Copyright -->
    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="#">Nicolás Saurina</a>
    </div>
    <!-- Copyright -->
  </footer>

<!-- End of .container -->