<body>
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" method="post" action="/users/signup">
                    <fieldset>
                        <h1 class="text-center header my-5">¡Bienvenido a Table Tenis App!</h1>

                        

                        <div class="form-group d-flex mt-8 mb-3">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="email" name="email" type="email" placeholder="Dirección de email" class="form-control" value="{{email}}">
                            </div>
                        </div>

                        <div class="form-group d-flex my-3">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                            <div class="col-md-8">
                                <input class="form-control" id="message" name="password"  type="password" placeholder="Contraseña" value="{{password}}">
                            </div>
                        </div>

                        <div class="form-group d-flex my-3">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                            <div class="col-md-8">
                                <input class="form-control" id="message" name="repeat_password"  type="password" placeholder="Repita la contraseña" value="{{repeat_password}}">
                            </div>
                        </div>

                        <div class="form-group my-3">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg bg-success my-4">Registrar</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</body>