<body>
  {{#each users}}
    <div class="row">
      <div class="card">
        <div class="card-body">
          <p>{{email}}</p>
          <p>{{password}}</p>
        </div>
      </div>
    </div>
  {{/each}}
</body>